<div id="movie-details">
  <img src={{this.movieDetails.image}} alt="" />

  <div id="details">
    <a href="/movies">Go back</a>

    <h3>{{this.movieDetails.title}}</h3>

    <p>Director {{this.movieDetails.director}}</p>
        <p>Stars:</p>
    <ul>
      
      {{#each this.movieDetails.stars}}
        <li>{{this}}</li>
      {{/each}}
    </ul>

    <p>{{this.movieDetails.description}}</p>
    <div>
      {{#each this.movieDetails.showtimes}}
        <span>{{this}} |</span>
      {{/each}}

    </div>

  </div>
</div>