<div id="movie-details">
    <img src={{this.movieDetails.image}} alt="">

    <div>
        <a href={{location.href}}>Go back</a>

        <h3>{{this.movieDetails.title}}</h3>

        <p>Director {{this.movieDetails.director}}</p>

        <ul>
            <p>Stars</p>
            {{#each this.movieDetails.stars}}
                <li>{{this}}</li>
            {{/each}}
        </ul>

        <p>{{this.movieDetails.description}}</p>

        {{#each this.movieDetails.showtimes}}
            <span>{{this}} |</span>
        {{/each}}
 </div>
</div>
